
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
/* @import url('https://unpkg.com/css.gg@2.0.0/icons/css/add-r.css'); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Oxygen&family=Poppins:wght@600;700&display=swap');

*{
	margin: 0;
	padding: 0;
	
	font-family: 'Oxygen', sans-serif;
	font-family: 'Poppins', sans-serif;
	
	/* background: rgb(255, 184, 240); */
	
	/* background-image: url(IMG_2068.jpg); */
	
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Poppins', sans-serif;

}

body {
  background: linear-gradient(90deg, #4040FF, rgb(115, 100, 255));
}

/* .bg-image{
	background-repeat: no repeat;
	height: 100px;
} */


/*.header {
	min-height: 100vh;  view port height is 100% 
	width: 100%;
	background-color: red;
	background-position: center;
	background-size: cover;
	position: relative;
}
*/

/*
.body {
	background: linear-gradient(135deg, #153667, #4e085f);
} */

ul.nav {
	display: flex;
	padding: 2% 3%;
	/* justify-content: space-between;
	align-items: center; */
	font-size: 20px;
	
}

a.nav-link {
	color: white;
	font-weight: normal;
	
}

a.nav-link.nav-link-alternate {
	color: white;
	font-weight: normal;
	
}


ul.nav a:hover {
	cursor: pointer;
	text-decoration: underline;
	text-decoration-color: white;
	color: white !important;
	/*-webkit-text-fill-color: rgb(154, 124, 245); */
	text-underline-offset: 50%;
	text-decoration-thickness: 20%;
}

ul.nav a.nav-link-alternate:hover {
	text-decoration-color: white;
	color: white !important;
}

ul.nav a:visited {
	color: white;
}

ul.nav a.nav-link-alternate:visited {
	color: white;
}

/*
#homeImage {
	width: 50px;
	float: left;
}

.nav-menu {
	flex: 1;
	text-align: right;
}

.nav-menu ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}

.nav-menu ul li a{
	color: black;
	text-decoration: none;
	font-size: 13px;
}

.nav-menu ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: green;
	display: block;
	margin: auto;
}*/

.sticky-note {
  width: 200px;
  height: 150px;
  padding: 10px;
  border: 1px solid #000;
  position: relative;
  overflow: hidden;
}

.sticky-note-content {
  margin: 0;
}

#accountIcon{
	color: rgb(115, 100, 255);
	width: 40px;
	height: 40px;
	fill: currentColor;
	margin-left: 10px;
}

#accountIcon a:hover{
	cursor: pointer;
}

#accountIconAlternate {
	color: white;
	width: 40px;
	height: 40px;
	fill: currentColor;
	margin-left: 10px;
}

#accountIconAlternate a:hover{
	cursor: pointer;
}


/* 
#middle {
	background-image:url(IMG_2608.jpg);
} */


#purpleBlob {
	width: 47%;
}


/* -------- Welcome Page ----------- */
.welcome-page-container
{
	position: relative;
	margin-top: 25%;

}

.welcome-page-container h1 {
	font-size: 70px;
	color: white;
}
.welcome-page-container h2{
	font-size: 50px;
	color: white;
}

.welcome-page-container span {
	justify-content: space-between;
}
.welcome-page-container span a{
	font-size: 30px;
	margin: 20px 50px 0 50px; 
	border-width: 3px;
	border-color: white;
	color: white;
	border-radius: 50px;
	padding: 10px 20px 10px 20px;
	width: 250px;
	
	
}
.welcome-page-container span a:hover{
	background-color: white;
	color: rgb(115, 100, 255);
}




/* -------- Sign Up Page ----------- */

/*
.row.sign-up-form{
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 30px;
	background: #edeef0;
	padding-left: 10px;
	margin-bottom: 25px;
	
} */

div.sign-up-name {
	width: 100%;
	position: relative;
	border-radius: 30px;
	
}

div.container.sign-up-form {
	width: 540px;
	padding: 40px 40px 40px;
	border-radius: 20px;
	
	margin-top: 7%;
	background: linear-gradient(180deg, #4040FF, rgb(115, 100, 255));
  border: 10px solid white;
	
}

h2.sign-up-header {
	color: rgb(115, 100, 255);
}

button.btn.w-100.btn-lg.sign-up-button {
	background-color: rgb(115, 100, 255);
	color: white;
}

button.btn.w-100.btn-lg.sign-up-button:hover {
	background-color: #4040FF;
	color: white;
}

.card.sign-up-card {
	padding: 60px;
}

/* -------- Login Page ----------- */

/*
.row.sign-up-form{
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 30px;
	background: #edeef0;
	padding-left: 10px;
	margin-bottom: 25px;
	
} */

div.login-name {
	width: 100%;
	position: relative;
	border-radius: 30px;
	
}

div.container.login-form {
	width: 540px;
	padding: 40px 40px 40px;
	border-radius: 20px;
	
	margin-top: 10%;
	background: linear-gradient(180deg, #4040FF, rgb(115, 100, 255));
  border: 10px solid white;
  
	
}

h2.login-header {
	color: rgb(115, 100, 255);
}

button.btn.w-100.btn-lg.login-button {
	background-color: rgb(115, 100, 255);
	color: white;
}

button.btn.w-100.btn-lg.login-button:hover {
	background-color: #4040FF;
	color: white;
}

.card.login-card {
	padding: 60px;
}

/* -------- Account Page ----------- */
.flex-c-row.for-account-page {
	display:flex;
  	/* align-items:center; */
 
	margin: 10px;
	width: 100vw;
	justify-content: center;
	align-items: center;
}

.flex-c-col .container.account-page-container {

	width: 100vw;
	height: 75vh;
	background: transparent;
	display: flex;
	padding: 0;
  background-color: white;
	/* border-color: #4040FF !important; */
	
	
}



.flex-c-col .container.account-page-container .right-side {
	width: 25%;
	height: 100%;
	background: linear-gradient(180deg, #4040FF, rgb(115, 100, 255));
	
	
}


.right-side h2 {
	display: flex;
	justify-content: center;
	color: white;
	line-height: 1.5em;
	
}

 
.right-side h2.name-account, .right-side i {
	display: flex;
	justify-content: center;
	color: white; 
	
}

.right-side h2.name-account {
	margin-bottom: 30px;
	font-size: 25px;
	overflow: auto;
	/* white-space: nowrap; */
	word-break: break-all; /* makes sure text goes to next line */
	margin-left: 30px;
	margin-right: 30px;
	text-align: center;
}


.right-side i.bi.bi-file-person {
	margin-top: 60%;
	font-size: 70px; /* increasing size of icon */
	margin-bottom: 30px;
}

/* 
.right-side i.bi.bi-pencil-square {
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 50px;  increasing size of icon 
	cursor: pointer;
} */


.right-side .logout-button {
	display: flex;
	font-size: 25px;
	border-width: 10px;
	border-color: white;
	color: white;
	background-color: transparent;
	border-radius: 50px;
	width: 50%;
	justify-content: center;
	margin-left: 25%;
	/* margin-bottom: 40%; */
}

.right-side .logout-button:hover {
	border-color: white;
	background-color: white;
	color: rgb(115, 100, 255);
}


.flex-c-col .container.account-page-container .left-side {
	width: 65%;
	height: 100%;
	margin-left: 5%;
	margin-top: 5%;
	
}

.left-side h2.information-title {
	padding-bottom: 35px;
	background-clip: padding-box;
	box-shadow: 0 5px 0 0 rgb(115, 100, 255);

}

.email-title  {
	margin-top: 9%;
	margin-bottom: 7%;
	line-height: 2em;
}

.user-email {
	font-size: 1.5em;
	padding-bottom: 12%;
	background-clip: padding-box;
	box-shadow: 0 5px 0 0 rgb(115, 100, 255);
}

.username-title  {
	margin-top: 4%;
	margin-bottom: 3%;
	line-height: 2em;
}

.user-username {
	font-size: 1.5em;
	padding-bottom: 6%;
	background-clip: padding-box;
	box-shadow: 0 5px 0 0 rgb(115, 100, 255);
}
	

/* ------- To Do List Page -------- */


/* div.cont {
	width: 100%;
	min-height: 100vh;
	background-color: #cfc9ff;;
} */

/*
div.todo-app
{
	width: 100%;
	max-width: 540px;
	background: #fff;
	margin: 100px auto 20px;
	padding: 40px 30px 70px;
	border-radius: 10px;
}

div.todo-app h2 {
	color: #002765;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
} */



.flex-c-row {
	display:flex;
  	/* align-items:center; */
  	margin:25px;
 
  	 /* to-do app */ 
	margin: 10px auto 20px; 
	
} /* setting the display to flex, which is by default 'row' with items side-by-side; give it align-items:center to align items vertically in the available space */

/*
.flex-c-row#flex-c-rowForToDoList {
	
  	justify-content: center; any element within this class will be within the center of the screen
	
}  setting the display to flex, which is by default 'row' with items side-by-side; give it align-items:center to align items vertically in the available space
*/

div.todo-app {
	width: 540px;
	background: #fff;
	padding: 40px 30px 70px;
	border-radius: 10px;
}

div.todo-app h2 {
	color: rgb(115, 100, 255);
	display: flex;
	align-items: center;
	margin-bottom: 20px;
} 

/* source for .flex-c-row & .flex-c-col : https://stackoverflow.com/questions/64341618/how-do-i-add-elements-below-my-navbar-using-bootstrap */

.flex-c-row.for-todo-list > * {
  margin:50px;  /* space all direct child elements of the outer container by 50px on all sides top bottom right left */
}





.flex-c-col {
  display:flex;
  flex-direction:column; /* same as above but set the flexbox direction of elements as a COLUMN so vertical */
} 



.row-of-todo-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	background: #edeef0;
	padding-left: 10px;
	margin-bottom: 25px;
	
}


input#input-box{
	flex: 1;
	border: none;
	outline: none;
	background: transparent;
	padding: 10px;
	font-weight: 14px;
	
}

button#toDoListAddButton{
  border: none;
	outline: none;
  margin-left: 5px;
	padding: 16px 50px;
	background: rgb(115, 100, 255);
	color: #fff;
	font-size: 16px;
	cursor: pointer;
  width: 25%;
  display: flex;
  justify-content: center;
}

button#toDoListAddButton:hover{
	background: #4040FF;
}

ul.form-check li{
	list-style: none;
	font-size: 17px;
	padding: 12px 8px 12px 0px;
	user-select: none;
	/* cursor: pointer; */
	position: relative;
	
}

ul.form-check li label {
	cursor: pointer;
}

ul.form-check ::before{
	content: '';
	position: absolute;
	height: 28px;
	width: 28px;
	border-radius: 50%;
	/* background-image: url(unchecked.png);
	
	background-size: cover;
	background-position: center; */
	top: 12px;
	left: 8px;
	
	/* position: absolute;
  	 top: 0;
  	left: 0;
  	height: 25px;
  	width: 25px;
  	background-color: #eee; */
	
}

/* ul.list-group li :not(span){
	
	 
	top: 12px;
	left: 8px; 
	
	position: absolute; */
  	/* top: 0;
  	left: 0; */
  /*	height: 25px;
  	width: 25px;
  	background-color: #eee; 
	
	
} */

ul li input[type=checkbox]:checked + label{
	color: #555;
	text-decoration: line-through;
	
}

ul li input[type=checkbox]:checked{
    background-color: rgb(115, 100, 255);
    border-color: rgb(115, 100, 255);
   
}

ul li input[type=checkbox]:focus {
	box-shadow: none;
	border-color: rgb(115, 100, 255);
  	
}

/* 
ul li.checked::before{
	 background-image: url(checked.png);
} */


ul.form-check li span {
	position: absolute;
	right: 0;
	top: 5px;
	width: 40px;
	height: 40px;
	font-size: 22px;
	color: #555;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
}


ul.form-check li span:hover {
	color: white;
	background: rgb(115, 100, 255);
} 




/*
.theContainer {
	width: 400px;
	  height: 400px; - comment
	height: auto;
	min-height: 400px;
	padding: 30px;
	background: white; comment: transparent 
	border: 2px solid #e6b7eca1;
	border-radius: 10px;
	backdrop-filter: blur(15px);
}

h1.todoList-title {
	color: rgb(115, 100, 255);
	text-align: center;
	margin-bottom: 36px;
	
}

.input-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}

.todo-input {
	flex: 1;
	outline: none;
	padding: 10px 10px 10px 20px;
	background-color: transparent;
	border: 2px solid #e6b7eca1;
	border-radius: 30px;
	color: black;
	font-size: 16px;
	margin-right: 10px;
}

.todo-input::placeholder {
	color: black;
}

.add-button {
	border: none;
	outline: none;
	background: white;
	color: black;
	font-size: 35px;
	cursor: pointer;
	border-radius: 40px;
	width: 40px;
	height: 40px;
}

.todo {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #463c7b;
	border-radius: 5px;
	margin: 10px 0;
	padding: 10px 12px;
	border: 2px solid #e6b7eca1;
	transition: all 0.2 ease;
}

.todo:first-child{
	margin-top: 0;
}

.todo:last-child{
	margin-bottom: 0;
}

.todo:hover {
	background-color: #e6b7eca1;
}

.todo label {
	cursor: pointer;
	width: fit-content;
	display: flex;
	align-items: center;
	color: black;
}

.todo span {
  padding-left: 20px;
  position: relative;
  cursor: pointer;
}

input[type='checkbox'] {
  visibility: hidden;
}

input:checked + span {
  text-decoration: line-through;
}

.todo:hover input:checked + span::before, input:checked + span::before {
  background: url(./check.svg) 50% 50% no-repeat #09bb21;
  border-color: #09bb21;
}

.todo:hover span::before {
  border-color: black;
}

.todo .delete-btn  {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 24px;
}

 fixing Todo List overflow 
.todos-container  {
  height: 300px;
  overflow: overlay;
}

.todos-container::-webkit-scrollbar-track  {
  background: rgb(89, 247, 246);
  border-radius: 20px;
}

.todos-container::-webkit-scrollbar  {
  width: 0;
}

.todos-container:hover::-webkit-scrollbar  {
  width: 7px;
}

.todos-container::-webkit-scrollbar-thumb  {
  background: rgb(50, 213, 204);
  border-radius: 20px;
 }
 
 .filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.filter {
  color: #eee;
  padding: 5px 15px;
  border-radius: 100px;
  border: 2px solid #e6b7eca1;
  transition: all 0.2s ease;
  cursor: pointer;
}

.filter.active, .filter:hover {
  background-color: #e6b7eca1;
}

.delete-all {
  display: flex;
  color: #eee;
  padding: 7px 15px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.delete-all:hover {
  border-radius: 5px;
  background-color: #e6b7eca1;
}
*/

/* ----- Sticky Notes Page -------- */

.flex-c-row.for-sticky-notes {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px;
}

.flex-c-row.for-sticky-notes .notes {
 display: flex;
 flex-wrap: wrap;
 gap: 50px;
 justify-content: flex-start;
 align-items: flex-start;
}


.flex-c-row.for-sticky-notes .notes .note{
 position: relative;
 width: 300px;
 height: 300px;
 background-color: white;
 box-shadow: 0 15px 35px black;
 color: black;
 font-size: 20px;
 overflow: auto;
 /* white-space: nowrap; */
 /* word-break: break-all; makes sure text goes to next line */
 /* word-break: break-word; */
 
 /* makes after enter, text goes to next line & makes sure after continuous text reaches next line, it'll go to next line */
 word-wrap: break-word;
 white-space: pre-wrap; 
 margin-bottom: 20px;
 
 
}

.flex-c-row.for-sticky-notes .notes {
 display: flex;
 flex-wrap: wrap;
 gap: 50px;
 justify-content: flex-start;
 align-items: flex-start;
}

.details h3{
 font-size: 1em;
 padding: 20px;
 line-height: 1.5em; /* controls spacing between each line of text */
 /* user-select: none; */
 
}


/* 
.flex-c-row.for-sticky-notes .notes  .note::before{
 content: 'Double Click to Remove This Note';
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 background: rgb(115, 100, 255);
 color: white;
 
 padding: 3px 0;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 0.85em;
 opacity: 0;
 transition: 0.5s;
 
}
.flex-c-row.for-sticky-notes .notes  .note:hover::before{
 opacity: 1;
} */

#create {
 position: relative;
 width: 300px;
 height: 300px;
 background-color: white;
 display: flex;
 line-height: 80px;
 align-items: center;
 font-size: 5em;
 cursor: pointer;
}

#create i {
 position: absolute;
 color: rgb(115, 100, 255);
}

.createBox {
 position: relative;
 width: 300px;
 height: 300px;
 z-index: 1000;
 display: none;
}

.innerCreateBox {
 display: inline;
}

.createBox textarea {
 position: absolute;
 top: 0;
 left: 0;
 width: 300px;
 height: 200px;
 font-size: 20px;
 padding: 20px;
 resize: none;
 line-height: 1.5em;
 position: absolute;
 outline: none;
 border: none;
}



.createNoteButton {
 position: relative;
 margin-top: 220px;
 font-size: 20px;
 color: rgb(115, 100, 255);
 width: 100%;
 background-color: white;
 border: none;
}

.createNoteButton:hover {
 color: white;
 background-color: rgb(115, 100, 255);
 border: none;
}

.deleteButton {
 position: relative;
 font-size: 20px;
 color: rgb(115, 100, 255);
 width: 100%;
 background-color: white;
 border: none;
 height: 50px;
}

.deleteButton:hover {
 color: white;
 background-color: rgb(115, 100, 255);
 border: none;
}



/* ------- Calendar Page 2 --------- */


:root {
	--primary-clr: rgb(115, 100, 255);
}


.flex-c-row.for-calendar.justify-content-center {
	min-height: 100vh; /* vh: viewport height */
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}


.flex-c-col .container.for-all {
	position: relative;
	width: 1400px;
	min-height: 950px;
	background: linear-gradient(180deg, #4040FF, rgb(115, 100, 255)); /* original: #373c4f; second new: rgb(28, 24, 65) */
	/*  background: linear-gradient(180deg, #4040FF, rgb(115, 100, 255)); */
	display: flex;
	border-radius: 10px;
}

/* _______ left side of calendar ________ */
.left {
	width: 70%;
	padding: 20px;
	
}

.calendar {
	position: relative;
	width: 100%;
	height: 100%;
	/* display: flex; */
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	color: #878895;
	border-radius: 5px;
	background-color: #fff;
}


i.bi.bi-caret-left-square, i.bi.bi-caret-right-square{
	height: 33px;
}


.calendar .month {
	width: 100%;
	height: 130px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 200px;
	font-size: 1.2rem;
	font-weight: 500;
	/* text-transform: capitalize; */
}

.calendar .month .prev, .calendar .month .next {
	cursor: pointer;
}

.calendar .month .prev:hover, .calendar .month .next:hover {
	color: var(--primary-clr);
}

.container.text-center .row.for-calendar {
	/* display: flex; */
	/* align-items: center;*/
	/* justify-content: center; */
	padding: 0 55px;
	margin-right: 10px;
	/* height: 100px; */
	/* font-size: 1rem; */
	/* font-weight: 500; */
	
}

tr{
	height: 90px;
	/* width: 77px !important; */
	
}
table.table-responsive{
	 margin: 60px;
}

tbody.one-month-calendar {
	
}


tr td{
	color: #878895;
}

tr td.day, tr td.day.prev-date, tr td.day.today {
	width: 105px;
	
	
}

/* background color of date will change only if day is not part of the previous month or the next month */
tr .day:not(.prev-date , .next-date):hover {
	background-color: var(--primary-clr);
	color: white;
}

/* days that are not part of the current month are "disabled" */
tr .prev-date , tr .next-date {
	color: #b3b3b3;
}

td.day.today {
	
	font-size: 30pt;
}

/* _____ right side of calendar _______ */

.right {
	width: 30%;
}
.today-date {
	width: 100%;
	height: 50px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	/* justify-content: center; */
	/* padding: 0 15px; */
	/* padding-left: 60px; */
	margin-top: 50px;
	margin-bottom: 20px;
	/* text-transform: capitalize; */
}

.today-date .event-day {
	font-size: 2rem;
	font-weight: 500;
	color: white;
	padding-right: 10px;
}

.today-date .event-date {
	font-size: 1rem;
	font-weight: 400;
	color: white;
}

.events {
	color: white;
	width: 100%;
	margin-left: 20px;
}

.events .event {
	line-height: 20px;
}

h3.event-title {
	
	display: inline;
	margin-inline: 15px;
	vertical-align: middle;
	/* margin-top: 50px;
	margin-bottom: 50px; */
	
}
.events .event .title i {
	font-size: 1.5rem;	
}


.event .event-time {
	margin-top: 10px;

	margin-bottom: 30px;
	pointer-events: none;
}

button.add-event {
	position: absolute;
	bottom: 30px;
	right: 30px;
	width: 40px;
	height: 40px;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	color: white;
	/* opacity: 0.5; */
	display: flex;
	border: none;
	background: transparent;
	cursor: pointer;
}

button.add-event i:hover {
	color: #b3b3b3;
}

input.event-name, input.event-time-from, input.event-time-to {
	border: none;
	width: 100%;
}

input.event-name, input.event-time-from {
	margin-bottom: 10px;
}

.container.add-event-wrapper {
	background-color: white;
	position: absolute;
	margin-left: 15px;
	border-radius: 15px;
	bottom: 100px;
	max-height: 0px;
	left: 75%;
	width: 20%;
	overflow: hidden;
	border-radius: 5px;
	/* transform: translateX(-50%);
	transition: max-height 0.5s; */
}

.add-event-wrapper.active {
	min-height: 290px;
}

.add-event-header {
	width: 100%;
	height: 50px;
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
	color: #373c4f;
	/* border-bottom: 1px solid #f5f5f5; */
}


.container.add-event-wrapper .add-event-footer {
	margin-top: 10px;
}

.add-event-body {
	width: 100%;
	height: 50%;
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 20px;
}

.add-event-btn {
	width: 100%;
	border: none;
	background-color: var(--primary-clr);
	color: white;
	border-radius: 15px;
	height: 40px;
}

.title i.bi.bi-x-circle {
	background-color: transparent;
	border: none;
	/* width: 30px; */
	color: white;
	/* justify-content: right; */
	
}


.title i.bi.bi-x-circle:hover {
	/* background-color: var(--primary-clr);
	border-radius: 15px; */
	color: #b3b3b3;
	cursor: pointer;
}

.todayButtonContainer {
	width: 100%;
	display: flex;
	justify-content: center;

}
.today-btn {
	padding: 5px 10px;
	border: 1px solid var(--primary-clr);
	border-radius: 5px;
	background-color: transparent;
	cursor: pointer;
	color: var(--primary-clr);
	font-size: 20px;

}

.today-btn:hover {
	background-color: var(--primary-clr);
	color: white;
}


.rbc-event-content {
  background-color: purple;
  padding: 0 0 0 0 !important;
}



